<h1>Editing source</h1>

<%=link_to 'Refresh records','refresh',:id=>@source.id%>

<% form_for(@source) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :prolog %><br />
    <%= f.text_area :prolog, :rows=>20,:cols=>60 %>
  </p>


  <p>
    <%= f.label "Query Call" %><br />
    <%= f.text_area :call, :rows=>20, :cols=>60%>
  </p>
    <p>
    <%= f.label "Create Call" %><br />
    <%= f.text_area :createcall, :rows=>10, :cols=>60%>
  </p>
  <p>
    <%= f.label "Update Call" %><br />
    <%= f.text_area :updatecall, :rows=>10, :cols=>60%>
  </p>
  <p>
    <%= f.label "Delete Call" %><br />
    <%= f.text_area :deletecall, :rows=>10, :cols=>60%>
  </p>

    <p>
    <%= f.label :epilog %><br />
    <%= f.text_area :epilog ,:rows=>3,:cols=>60%>
  </p>

    <p>
    <%= f.label :sync %><br />
    <%= f.text_area :sync ,:rows=>10,:cols=>60%>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Back', sources_path %>
