<h2>Editing Source Adapter </h2>

<% form_for(@source) do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.submit "Update source adapter code" %>
  </p>
<%=link_to 'Refresh records',{:action=>'refresh',:id=>@source.id}%>
<%=link_to 'Show records',{:action=>'show',:id=>@source.id}%><br/>

  <p>
    <%= f.label "Source Name" %> <%=f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url, :size=>50%> &nbsp;
    <%= f.label :login %><%= f.text_field :login %> &nbsp;
    <%= f.label :password %><%= f.text_field :password %>
  </p>

Enter source code for login, query, create, update, delete, logoff and sync in boxes below.
Be careful to only use apostrophes (single quotes) for strings versus double quotes.
  <p>
    <%= f.label "Prolog (login)" %><br />
    <%= f.text_area :prolog, :rows=>10,:cols=>60 %>
  </p>


  <p>
    <%= f.label "Query Call" %><br />
    <%= f.text_area :call, :rows=>10, :cols=>60%>
  </p>
    <p>
    <%= f.label "Create Call" %><br />
    <%= f.text_area :createcall, :rows=>3, :cols=>60%>
  </p>
  <p>
    <%= f.label "Update Call" %><br />
    <%= f.text_area :updatecall, :rows=>3, :cols=>60%>
  </p>
  <p>
    <%= f.label "Delete Call" %><br />
    <%= f.text_area :deletecall, :rows=>3, :cols=>60%>
  </p>

    <p>
    <%= f.label "Epilog (logoff)" %><br />
    <%= f.text_area :epilog ,:rows=>3,:cols=>60%>
  </p>

    <p>
    <%= f.label "Sync query to object values" %><br />
    <%= f.text_area :sync ,:rows=>5,:cols=>60%>
  </p>



<% end %>

<%= link_to 'Back', sources_path %>
