<h1>Listing clients</h1>

<table>
  <tr>
    <th>Obj key</th>
    <th>Client</th>
    <th>Update type</th>
  </tr>

<% for client in @clients %>
  <tr>
    <td><%=h client.obj_key %></td>
    <td><%=h client.client_id %></td>
    <td><%=h client.update_type %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New client', new_client_path %>
