<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :obj_key %><br />
    <%= f.text_field :obj_key %>
  </p>
  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :update_type %><br />
    <%= f.text_field :update_type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>
