<p>
  <b>Obj key:</b>
  <%=h @client.obj_key %>
</p>

<p>
  <b>Client:</b>
  <%=h @client.client_id %>
</p>

<p>
  <b>Update type:</b>
  <%=h @client.update_type %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
