<h1>Editing app</h1>

<% form_for(@app) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    Enter the token used to retrieve the app
    <%= f.label :token %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.text_field :admin %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @app %> |
<%= link_to 'Back', apps_path %>
