<p>
  <b>Source:</b>
  <%=h @object_value.source_id %>
</p>

<p>
  <b>Object:</b>
  <%=h @object_value.object %>
</p>

<p>
  <b>Attrib:</b>
  <%=h @object_value.attrib %>
</p>


<%= link_to 'Edit', edit_object_value_path(@object_value) %> |
<%= link_to 'Back', object_values_path %>
